---
import Base from "../layouts/Base.astro";
import Greeting from "../components/notitas/Greeting.astro"
---
<Base title="Inicio | CrisMG">
	<main class="container my-4 flex flex-col gap-4">
		<Greeting/>
		
		<ul class="flex flex-col gap-1 text-blue-400 *:hover:*:text-blue-800 *:hover:*:underline transition-colors">
			<li class=""><a href="/notitas/">Notitas</a></li>
			<li class=""><a href="/">Galería...</a></li>
		</ul>
	</main>
<Base/>